/*=============================================================

          General

================================================================*/

html, body {
  height: 100%;
  -webkit-backface-visibility:hidden;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;

}

h3 {
  text-transform: uppercase;
}
p {
  color: #64707b;
  font-size: 16px;
  font-weight: 300;
}

.section-padding {
	padding: 0px 0 100px;
}


/*=============================================================

          Home

================================================================*/

#home {
  z-index: 0;
  position: relative;
  background: whitesmoke;
}