<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <section id="home" class="home">
        <div class="content-title animated wow fadeIn animated" data-wow-duration="1s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
          <h3> Category </h3>
          <div class="content-title-underline"></div>
        </div>

      </section>
      <section id="about" class="about">

      </section>
      <section id="contact" class="contact">

      </section>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
